*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
#outer-box{
    background-color:rgb(42, 42, 42);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    position: absolute;
}
#header{
    background-color: blueviolet;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
h2{
    font-size: 30px;
}
#inner-box{
    background-color: black;
    max-width: 80%;
    min-width: 40%;
    padding: 5vw;
    box-shadow: 0px 0px 10px white;
    border-radius: 20px;
}
#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(164, 255, 7); */
}
input,label,button,textarea{
    margin: 20px;
}

#btn{
    display: inline !important;
    max-width: 125px;
    height: 32px;
    justify-content: center;
    border-radius: 2px;
    background-color: rgb(36 36 36);
    border-color: transparent;
    box-shadow: 0px 0px 5px 1px rgb(255 255 255);
}


input{
    height: 30px;
    color: rgb(0, 0, 0);
    
}
label{
    color: rgb(255, 255, 255);
    height: 10px;

}
textarea{
    color: black;
}
footer{
    text-align: center;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: blueviolet;
}
